<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Mega Ultra Web-site</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Подключение jQuery и Popper.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Подключение Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</head>

<body>
    <header>
        <nav>
            <ul>
                <div class="logo">
                    <img src="/logo.png" alt="Logo">
                </div>
                <% if (loggedIn) { %>
                    <li><a href="/">Home</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/anime">Anime</a></li>
                    <li><a href="/manga">Manga</a></li>
                    <% if (admin) { %>
                        <li><a href="/admin">Admin</a></li>
                    <% } %>
                    <li><a href="/logout">Logout</a></li>

                <% } %>



                <% if (!loggedIn) { %>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                <% } %>
            </ul>
        </nav>
    </header>