<%- include('header') %>
<div class="center">
    <div class="index-container">
        <h1>Welcome to My Site!</h1>
        <img src="/anime.gif" alt="Anime GIF" class="center-gif">
        <div class="site-info">
            <p>This is a cool site for various purposes. Here you can check weather, manage users and more!</p>
        </div>
    </div>
</div>
<%- include('footer') %>
